* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(246, 241, 209);

  }
  body.dark {
    background-color: #292c35;
  }

  .darkText {
    color: rgba(246, 241, 209);
  }

  header {
      margin-top: 20px;
  }

  #getReady{
      font-size: 50px;
  }

#countDown {
  font-size: 50px;
  font-weight: bold;
  color: goldenrod;
}
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 50px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  #toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: pink;
  }
  
  .fa-sun {
    color: yellow;
  }

  footer {
    border-top: 1px solid gray;
  }

     .label {
        margin: 20px
    }
 .questions {
   margin: 0px 50px 0px 50px;
   display: grid;
 }

 #buttonContainer {
   display:grid;
   padding-top: 50px;
   justify-content: center;
 }

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 500px;
}

/* .button:hover {background-color: #3e8e41} */

.button:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.yesButton {
  background-color: rgb(36, 124, 28);
}
.noButton {
  margin-top: 30px;
  background-color: rgb(36, 124, 28);

}

.button1 {
  background-color: coral;
}

.button2 {
  margin-top: 30px;
  background-color: coral;
}

.button3 {
  margin-top: 30px;
  background-color: coral;
}
